<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Amazon</h1>
<p>
    When Amazon launched in 1995 as a website that only sold {{ user_profile.noun_plural }}, founder Jeff Bezos had a
    vision for the company's {{ user_profile.adjective }} growth and ecommerce domination.

    He knew from the very beginning that he wanted Amazon to be a {{ user_profile.noun }} store.

    In the early days of Amazon, a {{ user_profile.animal }} would {{ user_profile.verb_base_form }} the
    {{ user_profile.noun_2}} every time someone made a purchase, and everyone would gather around to see if they knew the customer.

    It only took a few weeks before the {{ user_profile.animal }} would {{ user_profile.verb_base_form }} so
    frequently that they had to {{ user_profile.verb_base_form }} it.

    In the first month of its launch, Amazon had already sold {{ user_profile.noun_plural }} to people in all 50 states
    and in 45 different countries.

    In the early days of Amazon, the servers that the company used required so much power that Bezos and his wife
    couldn't {{ user_profile.verb_base_form_2 }} a {{ user_profile.noun_3 }} or a {{ user_profile.noun_4 }} in the
    house without blowing a fuse.
</p>
</body>
</html>